@use '/src/assets/scss/common/variables' as vars;

.visual{
    position:relative;
    width:100%;

    @import './items';
    @import './content';
    @import './img';
    @import '../common/pager';

    .swiper-slide-visible{
        .txt-up p{
            transform:translateY(0)
        }
        .more{
            transform:translateY(0);
            opacity:1;
            .clip{
                opacity:1
            }
            .circle{
                transform:translateY(-50%) scale(1)
            }
        }
    }
    
    @include vars.custom(1500px){
        .content{
            padding:0 6.6vw
        }
        .siteinfo{
            margin-bottom:2.6vw;
            .title{
                margin-right:1.3vw;
                font-size:4vw
            }
            .type{
                font-size:1.6vw
            }
        }
        .img{
            .pc{
                width:56.6vw;
                height:33.3vw
            }
            .mobile{
                width:13.3vw;
                height:23.3vw
            }
        }
    }

    @include vars.tablet{
        height:auto;
        .item{
            padding:15rem 0
        }
        .title{
            width:100%;
            margin-bottom:0.5rem
        }
        .more{
            padding-left:1rem;
            .clip{
                left:1rem;
                clip-path:circle(2.5rem at 0 0)
            }
            .circle{
                width:3.5rem;
                height:3.5rem
            }
        }
    }

    @include vars.custom(900px){
        .content{
            flex-direction:column;
        }
        .img{
            margin-bottom:6rem;
            order:-1;
            .pc{
                width:60rem;
                height:35.7rem
            }
            .mobile{
                width:14.2rem;
                height:25rem
            }
        }
        .siteinfo{
            margin-bottom:3rem;
            .title{
                width:auto;
                margin-right:2rem
            }
            .type{
                font-size:2rem
            }
        }
        .more{
            font-size:1.3rem;
            padding-left:1.5rem;
            .clip{
                left:1.5rem;
                clip-path:circle(3rem at 0 0)
            }
            .circle{
                width:4.5rem;
                height:4.5rem
            }
        }
    }
    
    @include vars.custom(640px){
        .img{
            width:100%;
            .pc{
                width:100%;
                height:46.5vw
            }
        }
        .siteinfo{
            .type{
                font-size:1.8rem
            }
        }
    }

    @include vars.custom(400px){
        .item{
            padding:10rem 0
        }
        .info{
            @include vars.flex(space-around, center, row, wrap);
            width:100%
        }
        .siteinfo{
            flex-direction:column;
            align-items:flex-start;
            margin-bottom:0;
            .title{
                margin:0
            }
            .type{
                font-size:1.8rem
            }
        }
        .img{
            .mobile{
                position:static;
                width:80%;
                height:123vw;
                margin:0 auto
            }
        }
    }
}