.portfolio{
    padding:200px 0
}
.top{
    margin-bottom:80px;
    align-items:flex-end
}
.title{
    
}

.btns{
    margin-bottom:5px
}
.btns button{
    margin-left:40px;
    color:#c6c6c6
}
.btns button.active,
.btns button:hover{
    color:var(--theme)
}

.list{
    position:relative
}
.list li{
    position:absolute;
    height:300px
}
.list li[data-sort="1"]{
    background:lightcoral
}
.list li[data-sort="2"]{
    background:lightblue
}
.list li[data-sort="3"]{
    background:lightgreen
}
.list button{
    position:relative;
    display:block;
    width:100%;
    height:100%;
    overflow:hidden
}
.list .txt{
    width:100%;
    height:100%;
    transition:opacity 0.3s
}
.list .card{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:15px;
    color:#fff;
    transform:translateX(-100%)
}
.list .card span{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.7)
}
.list li:hover .txt{
    opacity:0
}