.about{
    padding:200px 0;
    background:#f0f0f0
}
.top{
    margin-bottom:80px;
    align-items:flex-end
}
.caption{
    font-size:24px;
    margin:0 0 5px 15px
}

.list dl{
    position:relative;
    z-index:1
}
.list dt{
    font-size:24px;
    margin-bottom:15px
}
.list dd{
    font-size:18px
}
.list .num{
    position:absolute;
    top:0;
    left:0;
    opacity:0.1;
    color:var(--theme);
    font-size:100px;
    font-variation-settings:'wght' 800;
    z-index:-1
}