@font-face{
    font-family:'mont';
    src:url(/src/assets/fonts/Montserrat-vf.woff) format(woff)
}
@font-face{
    font-family:'pre';
    src:url(/src/assets/fonts/Pretendard-vf.woff2) format(woff2)
}