.pager{
    @include vars.flex(center);
    position:absolute;
    bottom:30px;
    width:100%;
    z-index:2;
    button{
        position:relative;
        padding:10px;
        margin:0 3px;
        &::after{
            @include vars.pseudo(8px, 8px, block);
            background:#d6d6d6;
            border-radius:50%
        }
        &.active::after{
            background:vars.$theme
        }
    }
}