.visual{
    position:relative;
    width:100%;
    height:100vh
}

.bg{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:no-repeat 50% / cover;
    filter:brightness(0.6);
    background:#000;
    z-index:-1
}

.item{
    width:100%;
    height:100%
}
.item01{
    --color:#00a77c
}
.item02{
    --color:#0067c6
}
.item03{
    --color:#4f13cd
}
.item04{
    --color:#ff6c00
}

.item01 .bg{
    background-image:url(../../assets/images/visual/bg_airclean.webp)
}
.item02 .bg{
    background-image:url(../../assets/images/visual/bg_isabang.webp)
}
.item03 .bg{
    background-image:url(../../assets/images/visual/bg_mkfly.webp)
}
.item04 .bg{
    background-image:url(../../assets/images/visual/bg_jejuchanga.webp)
}

.content{
    align-items:center;
    flex-flow:row nowrap;
    width:100%;
    max-width:1600px;
    height:100%;
    margin:0 auto;
    padding:0 100px
}
.txt{
    color:#fff
}
.title{
    justify-content:flex-start;
    align-items:flex-end;
    margin-bottom:40px;
    line-height:1.6
}
.name{
    font-size:60px;
    margin-right:20px;
    line-height:1;
    font-variation-settings:'wght' 750;
}
.type{
    font-size:24px;
    color:#c6c6c6
}

.more{
    position:relative;
    padding-left:15px;
    font-variation-settings:'wght' 500;
}
.more span{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    clip-path:circle(35px at 0 0);
    color:var(--color);
    z-index:1
}
.more::after{
    content:"";
    position:absolute;
    width:50px;
    height:50px;
    left:0;
    top:calc(50% - 25px);
    border-radius:50%;
    background:#fff
}

.img{
    position:relative
}
.img > *{
    border-radius:10px;
    overflow:hidden
}
.pc{
    width:850px;
    height:500px;
    background:#f1f1f1;
    box-shadow:15px 15px 15px rgba(0,0,0,.1);
}
.mobile{
    position:absolute;
    right:-50px;
    bottom:-50px;
    width:200px;
    height:350px;
    background:#c1c1c1;
    box-shadow:0 0 25px rgba(0,0,0,.4);
}

.paging{
    position:absolute;
    bottom:30px;
    width:100%;;
    z-index:2
}
.paging button{
    width:8px;
    height:8px;
    background:#d6d6d6;
    border-radius:50%;
    margin:10px
}

@media (max-width:1500px){
    .content{
        padding:0 6.6vw
    }
    .title{
        margin-bottom:2.6vw
    }
    .name{
        font-size:4vw;
        margin-right:1.3vw
    }
    .type{
        font-size:1.6vw
    }
    .more{
        transform-origin:0 50%;
        transform:scale(0.9)
    }
    .pc{
        width:56.6vw;
        height:33.3vw
    }
    .mobile{
        width:13.3vw;
        height:23.3vw
    }
}